body.login {
	background-color: #000; 
}

#login h1 a, .login h1 a {
	background-image: url(img/logo.png);
	height:43px;
	width:192px;
	background-size: 192px 43px;
	background-repeat: no-repeat;
	padding: 10px 25px !important;
	margin: 0px auto;
	background-color: #fff;
	background-position: center;
}

body.login div#login form#loginform p.submit input#wp-submit { 
	background-color: #aa5851; 
	border-color: #aa5851;
    box-shadow: 0 1px 0 #992f31;
    text-shadow: 0 -1px 1px #992f31, 1px 0 1px #992f31, 0 1px 1px #992f31, -1px 0 1px #992f31;
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a { color: #fff; }