/*Styles for portal sign in page*/
.Portal__Menu {
    font-weight: bold;
    font-size: 13px;
    padding-right: 20px;
    display: inline-flex;
}

.Portal__Title {
    text-align: center;
    margin: 30px;
    font-size: 40px;
}

.PortalForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 10% 10% 10%;
}

.PortalForm__Container {
    border: 1px solid grey;
}

.PortalForm__Field {
    padding: 10px 20px;
    margin: 10px;
}

.PortalForm__Button {
    margin: 20px;
}

.PortalForm__ErrorContainer {
    max-width: 50%;
    border: 1px solid #de3b50;
    padding: 15px;
    margin-bottom: 20px;
}

.PortalForm__ErrorMessage {
    text-align: center;
    font-size: 17px;
    color: #de3b50;
    line-height: 25px;
}