
    /* Webkit */
    ::selection {
    background: #999999;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #999999;
    }


	h6, h6 a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,a,p a,
	header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a,
	nav.main_menu>ul>li.active > a,
	.drop_down .second .inner > ul > li > a:hover,
	.drop_down .second .inner ul li.sub ul li a:hover,
    .header_bottom .qode-login-register-widget.qode-user-logged-in .qode-login-dropdown li a:hover,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.side_menu_button > a:hover,
	.mobile_menu_button span:hover,
	.vertical_menu ul li a:hover,
	.vertical_menu_toggle .second .inner ul li a:hover,
	nav.popup_menu ul li a:hover,
	nav.popup_menu ul li ul li a,
	.blog_holder article.sticky .post_text h3 a,
	.blog_holder.masonry article.sticky .post_text h5 a,
	.blog_holder.masonry_full_width article.sticky .post_text h5 a,
	.blog_holder article .post_info,
	.blog_holder article .post_info a,
	.blog_holder article .post_text a.more-link:hover span,
	.blog_holder article .post_description a:hover,
	.blog_holder article .post_description .post_comments:hover,
	.blog_holder.masonry article.format-quote  .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .social_share_holder > a > i,
	.comment_holder .comment .text .comment_date,
	.comment_holder .comment .text .replay,
	.comment_holder .comment .text .comment-reply-link,
	div.comment_form form p.logged-in-as a,
	.blog_holder.masonry .post_author:hover,
	.blog_holder.masonry .post_author a:hover,
	.blog_holder.masonry_full_width .post_author:hover,
	.blog_holder.masonry_full_width .post_author a:hover,
	.blog_holder.masonry article .post_info a:hover,
	.blog_holder.masonry_full_width article .post_info a:hover,
	.blog_holder.masonry article h4 a:hover,
	.blog_holder.masonry_full_width article h4 a:hover,
	.latest_post_holder .latest_post_title a:hover,
	.latest_post_holder .post_info_section:before,
	.latest_post_holder .post_info_section span,
	.latest_post_holder .post_info_section a,
	.latest_post_holder .post_author a.post_author_link:hover,
	.projects_holder article .portfolio_title a:hover,
	.filter_holder ul li.current span,
	.filter_holder ul li:not(.filter_title):hover span,
	.q_accordion_holder.accordion .ui-accordion-header .accordion_mark_icon,
	blockquote.with_quote_icon i,
	blockquote h3,
	.q_dropcap,
	.price_in_table .value,
	.price_in_table .price,
	.q_font_elegant_holder.q_icon_shortcode:hover, 
	.q_font_awsome_icon_holder.q_icon_shortcode:hover,
	.q_icon_with_title.normal_icon .icon_holder:hover .icon_text_icon,
	.box_holder_icon_inner.normal_icon .icon_holder_inner:hover .icon_text_icon,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_progress_bars_icons_inner .bar.active i.fa-circle,
	.q_progress_bars_icons_inner.square .bar.active .q_font_elegant_icon,
	.q_progress_bars_icons_inner.circle .bar.active .q_font_elegant_icon,
	.q_progress_bars_icons_inner.normal .bar.active .q_font_elegant_icon,
	.q_social_icon_holder.normal_social .simple_social,
	.q_social_icon_holder.normal_social.with_link .simple_social,
	.q_list.number ul>li:before,
	.social_share_list_holder ul li i:hover,
	.q_progress_bar .progress_number,
	.qbutton:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	#submit_comment:hover,
	.drop_down .wide .second ul li .qbutton:hover,
	.drop_down .wide .second ul li ul li .qbutton:hover,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	aside.sidebar .widget:not(.woocommerce) li,
	.header-widget.widget_nav_menu ul.menu li a:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
	.gform_wrapper input[type=button]:hover,
	.gform_wrapper input[type=submit]:hover,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
	.qode_twitter_widget li .tweet_icon_holder .social_twitter,
	.blog_holder.blog_chequered article .qodef-post-title .time,
	.blog_holder.blog_chequered article.qodef-with-bg-color .qodef-post-title a:hover,
	.portfolio_single .fullscreen-slider .qodef-portfolio-slider-content .qodef-control,
	.qode-wishlist-widget-holder a,
    .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
    .woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
    .shopping_cart_dropdown .cart_list span.quantity,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover
	{
	    color: #c5c5c5;
	}

	.popup_menu:hover .line,
	.popup_menu:hover .line:after,
	.popup_menu:hover .line:before,
	.blog_holder article .post_text a.more-link span,
	.blog_holder article .post_social .post_comments i,
	.blog_holder article .post_social .blog_like i,
	.blog_holder article .post_social .social_share_holder > a > i,
	.blog_holder article.format-link .post_text .post_text_inner:hover,
	.blog_holder article.format-quote .post_text .post_text_inner:hover,
	.blog_holder.masonry article.format-quote  .post_text_inner .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark,
	.blog_holder article .post_image a .post_overlay,
	.latest_post_holder .boxes_image a .latest_post_overlay,
	.mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-time-rail .mejs-time-handle,
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	.projects_holder article .portfolio_shader,
	.projects_masonry_holder article .portfolio_shader,
	.portfolio_slides .portfolio_shader,
	.q_accordion_holder.accordion.boxed .ui-accordion-header.ui-state-active,
	.q_accordion_holder.accordion.boxed .ui-accordion-header.ui-state-hover,
	.q_accordion_holder.accordion .ui-accordion-header.ui-state-active .accordion_mark,
	.q_accordion_holder.accordion .ui-accordion-header.ui-state-hover .accordion_mark,
	.q_dropcap.circle,
	.q_dropcap.square,
	.gallery_holder ul li .gallery_hover i,
	.highlight,
	.testimonials_holder.light .flex-direction-nav a:hover,
	.q_tabs .tabs-nav li.active a,
	.q_tabs .tabs-nav li a:hover,
	.q_message,
	.price_table_inner ul li.table_title,
	.price_table_inner .price_button,
	.q_icon_with_title.circle .icon_holder .icon_holder_inner,
	.q_icon_with_title.square .icon_holder .icon_holder_inner,
	.box_holder_icon_inner.circle .icon_holder_inner,
	.box_holder_icon_inner.square .icon_holder_inner,
	.q_icon_with_title.circle .q_font_elegant_holder.circle,
	.q_icon_with_title.square .q_font_elegant_holder.square,
	.box_holder_icon_inner .q_font_elegant_holder.circle,
	.box_holder_icon_inner .q_font_elegant_holder.square,
	.box_holder_icon_inner.circle .icon_holder_inner,
	.q_social_icon_holder .fa-stack,
	.footer_top .q_social_icon_holder:hover .fa-stack,
	.q_list.circle ul>li:before,
	.q_list.number.circle_number ul>li:before,
	.q_pie_graf_legend ul li .color_holder,
	.q_line_graf_legend ul li .color_holder,
	.q_team .q_team_social_holder,
	.animated_icon_inner span.animated_icon_back .animated_icon,
	.service_table_inner li.service_table_title_holder,
	.q_progress_bar .progress_content,
	.q_progress_bars_vertical .progress_content_outer .progress_content,
	.qbutton,
	.load_more a,
	.blog_load_more_button a,
	#submit_comment,
	.qbutton.white:hover,
	.qbutton.solid_color,
	.call_to_action .column2.button_wrapper .qbutton:hover,
	#wp-calendar td#today,
	aside.sidebar .widget h4,
	.qode_image_gallery_no_space.light .controls a.prev-slide:hover,
	.qode_image_gallery_no_space.light .controls a.next-slide:hover,
	input.wpcf7-form-control.wpcf7-submit,
	div.wpcf7-response-output.wpcf7-mail-sent-ok,
	.gform_wrapper input[type=button],
	.gform_wrapper input[type=submit],
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a{
	    background-color: #c5c5c5;
	}

	
	.q_image_with_text_over:hover .shader{
		background-color: rgba(197,197,197,0.9);
	}

	.q_circles_holder .q_circle_inner:hover .q_circle_inner2{
	    background-color: #c5c5c5 !important;
	}

	.drop_down .second,
	.drop_down .narrow .second .inner ul li ul,
    .header_bottom .qode-login-register-widget.qode-user-logged-in .qode-login-dropdown,
	.blog_holder article .post_text a.more-link span,
	.blog_holder article .post_text a.more-link:hover span,
	#respond textarea:focus,
	#respond input[type='text']:focus,
	.contact_form input[type='text']:focus,
	.contact_form  textarea:focus,
	.q_accordion_holder .ui-accordion-header .accordion_mark,
	.testimonials_holder.light .flex-direction-nav a:hover,
	.q_progress_bars_icons_inner.circle .bar .bar_noactive, 
	.q_progress_bars_icons_inner.square .bar .bar_noactive,
	.animated_icon_inner span.animated_icon_back .animated_icon,
	.service_table_holder,
	.service_table_inner li,
	.qbutton,
	.load_more a,
	.blog_load_more_button a,
	#submit_comment,
	.qbutton:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	#submit_comment:hover,
	.drop_down .wide .second ul li .qbutton:hover,
	.drop_down .wide .second ul li ul li .qbutton:hover,
	.qbutton.white:hover,
	.qbutton.solid_color,
	.call_to_action .column2.button_wrapper .qbutton:hover,
	.header-widget.widget_nav_menu ul ul,
	input.wpcf7-form-control.wpcf7-text:focus,
	input.wpcf7-form-control.wpcf7-number:focus,
	input.wpcf7-form-control.wpcf7-date:focus,
	textarea.wpcf7-form-control.wpcf7-textarea:focus,
	select.wpcf7-form-control.wpcf7-select:focus,
	input.wpcf7-form-control.wpcf7-quiz:focus,
	input.wpcf7-form-control.wpcf7-submit,
	input.wpcf7-form-control.wpcf7-submit[disabled],
	input.wpcf7-form-control.wpcf7-submit:not([disabled]),
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
	.gform_wrapper input[type=text]:focus,
	.gform_wrapper input[type=url]:focus,
	.gform_wrapper input[type=email]:focus,
	.gform_wrapper input[type=tel]:focus,
	.gform_wrapper input[type=number]:focus,
	.gform_wrapper input[type=password]:focus,
	.gform_wrapper textarea:focus,
	.gform_wrapper input[type=button],
	.gform_wrapper input[type=submit],
	.gform_wrapper input[type=button]:hover,
	.gform_wrapper input[type=submit]:hover,
	.qbutton.underlined,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a
	{
	    border-color: #c5c5c5;
	}

	.q_circles_holder .q_circle_inner:hover .q_circle_inner2,
	.q_circles_holder .q_circle_inner:hover{
	    border-color: #c5c5c5 !important;
	}

	
    .ajax_loader .pulse,
    .ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
    .ajax_loader .cube,
    .ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
    .ajax_loader .stripes > div,
    .ajax_loader .wave > div,
    .ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
    .ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div,
	.loading-center-absolute .object,
	.indeterminate-holder .indeterminate{
    background-color: #c4c4c4;
    }
	.ajax_loader .pulsating_circle,
	.ajax_loader .ripples .ripples_circle{
	border-color: #c4c4c4;
	}
	.ajax_loader .spinner:before {
	border-top-color: #c4c4c4;
	}
    body{
    	    	    	font-family: 'Karla', sans-serif;
    	    	 color: #999999;     	 font-size: 24px;     	font-weight: 400;    }
            body,
		.wrapper,
        .content,
        .full_width,
		.content .container,
		.more_facts_holder{
        	background-color:#ffffff;
        }
    	h3, h6, .pagination ul li.active span, .pagination ul li > a.inactive, .subtitle, .blog_holder article .post_info, .comment_holder .comment .text .comment_date, .blog_holder.masonry .post_author, .blog_holder.masonry .post_author a, .blog_holder.masonry_full_width .post_author, .blog_holder.masonry_full_width .post_author a, .latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a, .latest_post_holder .post_author, .latest_post_holder a.post_author_link, .projects_holder article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category, .testimonials .testimonial_text_inner p:not(.testimonial_author), .price_in_table .mark, body div.pp_default .pp_description, .side_menu .widget li,aside.sidebar .widget:not(.woocommerce) li, aside .widget #lang_sel ul li a, aside .widget #lang_sel_click ul li a, section.side_menu #lang_sel ul li a, section.side_menu #lang_sel_click ul li a, footer #lang_sel ul li a, footer #lang_sel_click ul li a, .header_top #lang_sel ul li a, .header_top #lang_sel_click ul li a, .header_bottom #lang_sel ul li a, .header_bottom #lang_sel_click > ul > li a,.single_links_pages span,.gform_wrapper .gsection .gfield_label,.gform_wrapper h2.gsection_title,.gform_wrapper h3.gform_title{
		    	font-family: 'Karla', sans-serif;
	}
		


.header_bottom,
.header_top {
	background-color: rgba(255,255,255,1);
}




	.content .content_inner > .container > .container_inner,
	.content .content_inner > .full_width > .full_width_inner{
		padding-top: 0px;
	}

	.content .content_inner > .container > .container_inner.default_template_holder{
		padding-top: 44px;
	}

	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 44px !important;
		}
	}	



header.fixed.scrolled .header_bottom,
header.fixed.scrolled .header_top {
	background-color: rgba(255,255,255,0) !important;
}


header.scrolled .header_bottom,
header.scrolled .header_top {
    border-bottom: 0;
}

header.scrolled .header_bottom {
    box-shadow: none;
}

header.scrolled .header_top .right .inner > div:first-child,
header.scrolled .header_top .right .inner > div,
header.scrolled .header_top .left .inner > div:last-child,
header.scrolled .header_top .left .inner > div {
    border: none;
}





header.sticky .header_bottom{
	background-color: rgba(255,255,255,1) !important;
}


.header_top{
	background-color: rgba(255,255,255,1);
}


header.sticky .header_top{
	background-color: rgba(255,255,255,0);
}



			.content{
			margin-top: -133px;
		}
	
	.logo_wrapper,
	.side_menu_button,
	.shopping_cart_inner{
		height: 100px;
	}

			.content.content_top_margin{
			margin-top: 133px !important;
		}
		

	header:not(.centered_logo) .header_fixed_right_area {
	    line-height: 100px;
	}









	header.scrolled .logo_wrapper,
	header.scrolled .side_menu_button{
		height: 88px;
	}

	header.scrolled nav.main_menu ul li a {
		line-height: 88px;
	}

	header.scrolled .drop_down .second{
		top: 88px;
	}

	header.sticky .logo_wrapper,
	header.sticky.centered_logo .logo_wrapper,
	header.sticky .side_menu_button,
	header.sticky .shopping_cart_inner{
		height: 100px !important;
	}

	header.sticky nav.main_menu > ul > li > a,
	.light.sticky nav.main_menu > ul > li > a,
	.light.sticky nav.main_menu > ul > li > a:hover,
	.light.sticky nav.main_menu > ul > li.active > a,
	.dark.sticky nav.main_menu > ul > li > a,
	.dark.sticky nav.main_menu > ul > li > a:hover,
	.dark.sticky nav.main_menu > ul > li.active > a,
    header.sticky .header_bottom .qode-login-register-widget.qode-user-not-logged-in .qode-login-opener,
    header.sticky .header_bottom .qode-login-register-widget.qode-user-logged-in .qode-logged-in-user .qode-logged-in-user-inner > span{
		line-height: 100px;
	}

	header.sticky .drop_down .second{
		top: 101px;
	}

	header.sticky .header_bottom,
	header.fixed.scrolled .header_bottom,
	header.fixed_hiding.scrolled .header_bottom{
		box-shadow: none; 
		-webkit-box-shadow: none;
	}



        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 40px;
            }
        }
    



    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;
		background-position: center top !important;
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 100px;
}




nav.main_menu > ul > li > a,
.header_bottom .qode-login-register-widget.qode-user-not-logged-in .qode-login-opener,
.header_bottom .qode-login-register-widget.qode-user-logged-in .qode-logged-in-user .qode-logged-in-user-inner > span{
	 color: #ffffff; 		    				}

nav.main_menu ul li:hover a,
header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a,
.header_bottom .qode-login-register-widget.qode-user-not-logged-in .qode-login-opener:hover,
.header_bottom .qode-login-register-widget.qode-user-logged-in:hover .qode-logged-in-user .qode-logged-in-user-inner > span{
	color: #f2f2f2;
}

	nav.main_menu > ul > li.active > a{
	    color: #f2f2f2	}





.drop_down .second .inner > ul > li > a,
.drop_down .second .inner > ul > li > h4,
.drop_down .wide .second .inner > ul > li > h4,
.drop_down .wide .second .inner > ul > li > a,
.drop_down .wide .second ul li ul li.menu-item-has-children > a,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h4 a,
.drop_down .wide .second .inner > ul li .flexslider ul li  h4 a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h4,
.drop_down .wide .second .inner > ul li .flexslider ul li  h4,
.header_bottom .qode-login-register-widget.qode-user-logged-in .qode-login-dropdown li a{
	 color: #ffffff; 							}
	.drop_down .wide .second .inner>ul>li>a{
	 color: #ffffff; 								}

header.scrolled nav.main_menu > ul > li > a,
header.light.scrolled nav.main_menu > ul > li > a,
header.dark.scrolled nav.main_menu > ul > li > a{
	 color: #ffffff; 							}
header.scrolled .side_menu_button a {
     color: #ffffff !important; }

header.sticky nav.main_menu > ul > li > a,
header.light.sticky nav.main_menu > ul > li > a,
header.dark.sticky nav.main_menu > ul > li > a{
	 color: #0a0a0a; 							}

header.sticky .side_menu_button a,
header.sticky .side_menu_button a:hover{
     color: #0a0a0a; }

header.sticky nav.main_menu > ul > li > a:hover span,
header.sticky nav.main_menu > ul > li.active > a span,
header.sticky nav.main_menu > ul > li:hover > a > span,
header.sticky nav.main_menu > ul > li > a:hover > i,
header.sticky nav.main_menu > ul > li:hover > a > i,
header.sticky nav.main_menu > ul > li.active > a > i,
.light.sticky nav.main_menu > ul > li > a:hover,
.light.sticky nav.main_menu > ul > li.active > a,
.dark.sticky nav.main_menu > ul > li > a:hover,
.dark.sticky nav.main_menu > ul > li.active > a{
	color: #000000 !important;
}

	nav.mobile_menu ul li a,
	nav.mobile_menu ul li h4{
		 color: #000000; 															}
			nav.mobile_menu ul > li.has_sub > span.mobile_arrow{
			 color: #000000;
		}
	





	#respond textarea,
	#respond input[type='text'],
	#respond input[type='email'],
	.contact_form input[type='text'],
	.contact_form input[type='email'],
	.contact_form  textarea,
	.comment_holder #respond textarea,
	.comment_holder #respond input[type='text'],
	input.wpcf7-form-control.wpcf7-text,
	input.wpcf7-form-control.wpcf7-number,
	input.wpcf7-form-control.wpcf7-date,
	textarea.wpcf7-form-control.wpcf7-textarea,
	select.wpcf7-form-control.wpcf7-select,
	input.wpcf7-form-control.wpcf7-quiz,
    .qode-social-login-holder input[type="text"],
    .qode-social-login-holder input[type="email"],
    .qode-social-login-holder input[type="password"],
    .qode-social-register-holder input[type="text"],
    .qode-social-register-holder input[type="email"],
    .qode-social-register-holder input[type="password"],
    .qode-social-reset-password-holder input[type="text"],
    .qode-social-reset-password-holder input[type="email"],
    .qode-social-reset-password-holder input[type="password"],
    .qode-membership-input-holder .qode-membership-input{
		background-color: #ffffff; 		border: 1px solid #c4c4c4; 		color:#000000; 	}

	#respond textarea:focus,
	#respond input[type='text']:focus,
	#respond input[type='email']:focus,
	.contact_form input[type='text']:focus,
	.contact_form input[type='email']:focus,
	.contact_form  textarea:focus,
	.comment_holder #respond textarea:focus,
	.comment_holder #respond input[type='text']:focus,
	input.wpcf7-form-control.wpcf7-text:focus,
	input.wpcf7-form-control.wpcf7-number:focus,
	input.wpcf7-form-control.wpcf7-date:focus,
	textarea.wpcf7-form-control.wpcf7-textarea:focus,
	select.wpcf7-form-control.wpcf7-select:focus,
	input.wpcf7-form-control.wpcf7-quiz:focus,
    .qode-social-login-holder input[type="text"]:focus,
    .qode-social-login-holder input[type="email"]:focus,
    .qode-social-login-holder input[type="password"]:focus,
    .qode-social-register-holder input[type="text"]:focus,
    .qode-social-register-holder input[type="email"]:focus,
    .qode-social-register-holder input[type="password"]:focus,
    .qode-social-reset-password-holder input[type="text"]:focus,
    .qode-social-reset-password-holder input[type="email"]:focus,
    .qode-social-reset-password-holder input[type="password"]:focus,
    .qode-membership-input-holder .qode-membership-input:focus{
						border-color: #c4c4c4; 	}

	h2{
					font-family: 'Karla', sans-serif;
				font-size: 68px; 		line-height: 64px; 				font-weight: 700; 	    letter-spacing: -1px; 		text-transform: none; 	}
	h2, h2 a{
		color: #000000; 	}		
	h3{
				font-family: 'Karla', sans-serif;
				font-size: 42px; 		line-height: 44px; 		font-style: normal; 		font-weight: 700; 	    letter-spacing: -0.7px; 			}
	h3, h3 a{
		color: #000000; 	}
	h4{
					font-family: 'Karla', sans-serif;
				font-size: 30px; 		line-height: 35px; 		font-style: normal; 		font-weight: 700; 	    letter-spacing: -0.5px; 		text-transform: none; 	}
	h4,	h4 a{
		color: #000000; 	}
	h5{
				font-family: 'Karla', sans-serif;
				font-size: 22px; 		line-height: 37px; 				font-weight: 700; 	    letter-spacing: -0.4px; 		text-transform: none; 	}
	h5,	h5 a{
		color: #000000; 	}
	h6{
				font-family: 'Karla', sans-serif;
				font-size: 13px; 		line-height: 25px; 		font-style: normal;  		font-weight: 700; 		letter-spacing: 1.8px; 		text-transform: uppercase; 	}
	h6, h6 a{
		color: #999999; 	}


	p{
		font-family: "Karla", sans-serif;font-size: 24px;line-height: 28px;font-weight: 400;color: #999999	}


	a, p a{
		color: #0a0a0a;							}


	blockquote h3, blockquote > p{
		font-family: Karla, sans-serif;font-size: 30px;line-height: 41px;font-weight: 700;font-style: normal;text-transform: none;color: #000000	}



	.title h1{
		color: #000000; 				font-family: 'Karla', sans-serif;
				font-size: 42px; 		line-height: 44px; 		font-style: normal; 		font-weight: 700; 		letter-spacing: -1px; 		text-transform: none; 	}




	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) h2{
		font-family: Karla, sans-serif;font-size: 42px;line-height: 44px;font-weight: 700;font-style: normal;text-transform: none	}



	.blog_holder.blog_large_image article.format-quote .post_text .post_title h3, 
	.blog_holder.blog_large_image article.format-link .post_text .post_title h3,
	.blog_holder.blog_large_image article.format-quote .post_text .quote_author{
		font-family: Karla, sans-serif;font-size: 42px;line-height: 44px;font-weight: 700;font-style: normal;text-transform: none	}













	.blog_holder.blog_single article:not(.format-link):not(.format-quote) .post_text .post_text_inner {
		padding:  27px 0 0;
	}

	.blog_holder.blog_single article h2 {
	margin-bottom:  27px;
	}

	.blog_holder.blog_single article .post_info {
	margin-bottom:  12px;
	}


	.blog_holder.blog_single article .post_content > h2{
		font-family: Karla, sans-serif;font-size: 42px;line-height: 44px;font-weight: 700;font-style: normal;text-transform: none;color: #000000	}

	.blog_holder.blog_single article.format-quote .post_text .post_title h3, 
	.blog_holder.blog_single article.format-link .post_text .post_title h3 a,
	.blog_holder.blog_single article.format-quote .post_text .quote_author{
		font-family: Karla, sans-serif;font-size: 42px;line-height: 44px;font-weight: 700;font-style: normal;text-transform: none;color: #000000	}

	.blog_holder.blog_single article.format-quote .post_text .post_text_inner:hover .post_title h3,
	.blog_holder.blog_single article.format-link .post_text .post_text_inner:hover .post_title h3 a,
	.blog_holder.blog_single article.format-quote .post_text .post_text_inner:hover .quote_author{
		color: #000000;
	}

	.blog_holder article .post_info,
	.blog_holder.blog_chequered article .quote_author,
	.latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a{
		font-family: Karla, sans-serif;font-size: 13px;line-height: 25px;font-weight: 700;font-style: normal;text-transform: uppercase;color: #999999	}

	.blog_holder article .post_info a,
	.latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a, .latest_post_holder .post_info_section:before{
		color: #999999;
	}

	.blog_holder article .post_info a:hover,
	.latest_post_holder .post_info_section a:hover{
		color: #999999;
	}









	.blog_holder.blog_animated article .qodef-post-title {
	font-family: Karla, sans-serif;font-size: 22px;line-height: 25px;font-weight: 700;font-style: normal;text-transform: none	}























































	.qbutton .button_icon.custom_icon_size,
	.qbutton.medium .button_icon.custom_icon_size {
		line-height: 50px;
	}
	.qbutton,
	.qbutton.medium,
	#submit_comment,
	.load_more a,
	.blog_load_more_button a,
	.blog_holder article .post_text a.more-link span{
		color: #000000;font-size: 14px;line-height: 50px;height: 50px;font-weight: 700;font-family: Karla;letter-spacing: 1px;border-color: #c4c4c4;padding-left: 42px;padding-right: 42px;background-color: transparent;	}
		.qbutton:hover,
	.qbutton:not(.white):hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.blog_holder article .post_text a.more-link:hover span{
	    color: #000000;background-color: transparent;border-color: #c4c4c4;	}
	
	#back_to_top > span{
		font-size: 34px;color: #c4c4c4;background-color: transparent;border-color: #c4c4c4;border-width: 2px;width: 62px;height: 62px;line-height: 58px;	}
	
	#back_to_top:hover > span{
		color: #ffffff;background-color: #000000;border-color: #000000;	}
	
	.qode_image_gallery_no_space .controls a.prev-slide, 
	.qode_image_gallery_no_space .controls a.next-slide, 
	.qode_carousels .caroufredsel-direction-nav .caroufredsel-navigation-item,
	.flex-direction-nav a, .caroufredsel-direction-nav a,
	.portfolio_single .owl-carousel .owl-prev,
	.portfolio_single .owl-carousel .owl-next,
	.qode-owl-slider .owl-nav .owl-prev,
	.qode-owl-slider .owl-nav .owl-next,
	.qode_carousels.carousel_owl .owl-nav .owl-prev,
	.qode_carousels.carousel_owl .owl-nav .owl-next,
	body div.pp_default a.pp_next,
	body div.pp_default a.pp_previous{
		font-size: 37px;background-color: transparent;border: 1px solid #ffffff;border-width: 2px;width: 76px;height: 76px;line-height: 76px;margin-top: -40px;	}
			body div.pp_default a.pp_next,
		body div.pp_default a.pp_previous{
		background-color: transparent !important;		}
				body div.pp_default a.pp_next:after,
		body div.pp_default a.pp_previous:after{
		display: inline-block;width: 100%;height: 100%;left: 0;font-size: 37px;		}
		
	.qode_image_gallery_no_space .controls a.prev-slide:hover, 
	.qode_image_gallery_no_space .controls a.next-slide:hover, 
	.qode_carousels .caroufredsel-direction-nav .caroufredsel-navigation-item:hover,
	.flexslider:hover .flex-direction-nav a:hover,
	.portfolio_slider:hover .caroufredsel-direction-nav a:hover,
	.portfolio_single .owl-carousel .owl-prev:hover,
	.portfolio_single .owl-carousel .owl-next:hover,
	.qode-owl-slider .owl-nav .owl-prev:hover,
	.qode-owl-slider .owl-nav .owl-next:hover,
	.qode_carousels.carousel_owl .owl-nav .owl-prev:hover,
	.qode_carousels.carousel_owl .owl-nav .owl-next:hover,
	body div.pp_default a.pp_next:hover,
	body div.pp_default a.pp_previous:hover{
		color: #ffffff;background-color: #000000;border-color: #000000;	}
			body div.pp_default a.pp_next:hover,
		body div.pp_default a.pp_previous:hover{
		background-color: #000000 !important;		}
				body div.pp_default a.pp_next:hover:after,
		body div.pp_default a.pp_previous:hover:after{
		color: #ffffff;		}
		


	.single_tags a,
	aside.sidebar .widget:not(.woocommerce) .tagcloud a,
	.widget .tagcloud a{
		font-family: Karla, sans-serif;font-size: 11px !important;font-weight: 700;font-style: normal;text-transform: uppercase;color: #000000;border-width: 2px	}









	.q_counter_holder span.counter{
					}
	.countdown-period{
						}





.q_google_map{
	height: 750px;
}
	.footer_top_holder{
		background-color:#ffffff;
	}

	.footer_top,
	.footer_top.footer_top_full{
		padding-top: 100px; 		padding-bottom: 100px; 	}
	.footer_top.footer_top_full {
	padding-left: 9%; 	padding-right: 9%; 	}

	.footer_top,
	.footer_top p,
    .footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.social_icon):not(.social_twitter):not(.q_font_elegant_icon),
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span{
		font-family: Karla, sans-serif;font-size: 16px;line-height: 23px;font-weight: 400;font-style: normal;text-transform: none;color: #999999	}

	.footer_top a{
		font-family: Karla, sans-serif;font-size: 14px;line-height: 32px;letter-spacing: 1px;font-weight: 700;text-transform: uppercase;color: #000000	}

	.footer_top a:hover,
	.footer_top .qode_twitter_widget li .tweet_content_holder .qode_tweet_text a {
		color: #c5c5c5;
	}





	.footer_top .widget h4 {
		font-family: Karla, sans-serif;font-size: 26px;line-height: 27px;font-weight: 700;font-style: normal;text-transform: none;color: #000000	}








	.side_menu{
		background-color:#000000;
	}



	.side_menu .widget li a, .side_menu .widget a { font-family: Karla, sans-serif;font-size: 13px;line-height: 30px;font-weight: 700;font-style: normal;text-transform: uppercase;color: #ffffff }


	.side_menu a.close_side_menu_fold .line:before,
	.side_menu a.close_side_menu_fold .line:after {
	background-color: #ffffff;
	}
	.side_menu a.close_side_menu_fold {
		width: 23px;
		height: 23px;
		line-height: 23px;
	}
	.side_menu a.close_side_menu_fold .line,
	.side_menu a.close_side_menu_fold .line:after,
	.side_menu a.close_side_menu_fold .line:before
	{
		width: 23px;
	}
	.side_menu  {
	text-align: left;
	}

	.side_menu  {
			padding-top: 100px;
						padding-left: 6%;
		}







	.blog_holder article.format-link .post_text .post_text_inner, 
	.blog_holder article.format-quote .post_text .post_text_inner{
		background-color: #ffffff;
	}
	.blog_holder.masonry article.format-quote  .post_text_inner .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .social_share_holder > a > i{
		color: #ffffff;
	}

	.blog_holder article.format-link .post_text .post_text_inner:hover, 
	.blog_holder article.format-quote .post_text .post_text_inner:hover{
		background-color: #ffffff;
	}
	.blog_holder.masonry article.format-quote  .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .social_share_holder > a > i{
		color: #ffffff;
	}

	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content{
		background-color: transparent;
	}

	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 45px 0 0;
	}

	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 25px 0 5px;
	}

	.blog_holder.blog_single article .post_text .post_text_inner {
		padding: 30px 0 0;
	}

	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content {
		padding: 0;
	}






    .side_menu_button > a,
	.header_bottom  .qode-wishlist-widget-holder a,
    .mobile_menu_button span,
	.shopping_cart_header .header_cart i{
		color: #000000;font-size: 46px;	}

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #000000;
    }































	.projects_holder article .portfolio_description{
		background-color: transparent;
	}

	.projects_holder.standard article .portfolio_description, 
	.projects_holder.standard_no_space article .portfolio_description {
		padding-left: 0;
		padding-right: 0;
	}

	.masonry_with_space .projects_holder article .portfolio_description {
		padding: 35px 0 43px;
	}


		


    .portfolio_single.big-slider .portfolio_container, .portfolio_single.big-images .portfolio_container, .portfolio_single.gallery .portfolio_container{
        padding-left: 0px;
        padding-right: 0px;
    }

	.portfolio_single.big-slider h2.portfolio_single_text_title,
	.portfolio_single.big-images h2.portfolio_single_text_title,
	.portfolio_single.gallery h2.portfolio_single_text_title,
	.portfolio_single.masonry-gallery h2.portfolio_single_text_title,
	.portfolio_single.portfolio_fullwidth_slider h2.portfolio_single_text_title{
		font-family: Karla, sans-serif;font-size: 30px;line-height: 40px;font-weight: 700;font-style: normal;color: #000000	}

	.portfolio_single.small-slider .portfolio_detail > h3.info_section_title,
	.portfolio_single.small-images .portfolio_detail > h3.info_section_title,
	.portfolio_single.gallery-right h2.portfolio_single_text_title,
	.portfolio_single.gallery-left h2.portfolio_single_text_title,
	.portfolio_single.fixed-left .portfolio_detail > h3.info_section_title,
	.portfolio_single.fixed-right .portfolio_detail > h3.info_section_title{
		font-family: Karla, sans-serif;font-size: 30px;line-height: 40px;font-weight: 700;font-style: normal;color: #000000	}

	.portfolio_detail .info .info_section_title,
	.portfolio_single.portfolio_fullscreen_slider .qodef-portfolio-slider-content-info .qodef-hidden-info .info_section_title{
		font-family: Karla, sans-serif;font-size: 13px;line-height: 13px;letter-spacing: 1.7px;font-weight: 700;font-style: normal;text-transform: uppercase;color: #000000	}



    .header_top .header-widget,
    .header_top .header-widget.widget_nav_menu ul.menu>li>a,
    .header_top .header-widget p,
    .header_top .header-widget a,
    .header_top .header-widget span:not(.q_social_icon_holder):not(.social_icon):not(.q_font_elegant_icon){
    color: #ffffff;    }

    .header_top {
    	border-bottom: 1px solid #ffffff;border-width: 3pxpx;    }






    .projects_holder.standard article .project_category, .projects_holder.standard_no_space article .project_category,.projects_holder.standard .pinterest_info_on_hover .project_category{
    color: #999999;font-family: Karla;font-size: 13px;line-height: 19px;font-style: normal;font-weight: 700;text-transform: uppercase;    }
    

    .projects_holder.hover_text article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category{
    font-family: Karla;font-size: 13px;line-height: 19px;font-style: normal;font-weight: 700;text-transform: uppercase;    }
    
































	
	
	



.woocommerce div.product .cart .quantity { height: px;line-height: px;}

.woocommerce .product .quantity .minus,
	                       .woocommerce .product .quantity .plus,
	                       .woocommerce .product .quantity input.qty { width: px;height: px;line-height: -2px;}




	


























	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]),
	.contact_form.cf7_custom_style_1 .qbutton{
	background-color: rgba(255,255,255,0);border-color: rgba(255,255,255,0);border-width: 0px;border-radius: 0px;color: #000000;font-family: Karla;font-size: 14px;font-weight: 700;padding-left: 0px;padding-right: 0px;	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:hover,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
	.contact_form.cf7_custom_style_1 .qbutton:hover{
	color: #000000;background-color: rgba(255,255,255,0);border-color: rgba(255,255,255,0);	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz,
	.contact_form.cf7_custom_style_1 input[type='text'],
	.contact_form.cf7_custom_style_1 textarea{
	border-width: 2px;border-style:solid;transform: translateZ(0);border-radius: 0px;border-left: none; border-right:none; border-top: none;color: #d2d2d2;font-family: Karla;font-size: 22px;font-weight: 700;padding-left: 0px;margin-top: 30px;	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus,
	.contact_form.cf7_custom_style_1 input[type='text']:focus,
	.contact_form.cf7_custom_style_1 textarea:focus{
	color: #000000;	}


	.cf7_custom_style_1 .animate_input_holder .animate_input_text {
	color: #d2d2d2;font-family: Karla;font-size: 22px;font-weight: 700;	}



	.cf7_custom_style_1 .animate_input_holder{
	margin-top: 30px;	}

	.cf7_custom_style_1 ::-webkit-input-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']::-webkit-input-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:focus::-webkit-input-placeholder,
	.contact_form.cf7_custom_style_1 textarea:focus::-webkit-input-placeholder,
	.contact_form.cf7_custom_style_1 textarea::-webkit-input-placeholder{
	color: #d2d2d2;opacity:1;	}
	.cf7_custom_style_1 :-moz-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:-moz-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:focus:-moz-placeholder,
	.contact_form.cf7_custom_style_1 textarea:focus:-moz-placeholder,
	.contact_form.cf7_custom_style_1 textarea:-moz-placeholder{
	color: #d2d2d2;opacity:1;	}
	.cf7_custom_style_1 ::-moz-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']::-moz-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:focus::-moz-placeholder,
	.contact_form.cf7_custom_style_1 textarea::-moz-placeholder,
	.contact_form.cf7_custom_style_1 textarea:focus::-moz-placeholder{
	color: #d2d2d2;opacity:1;	}
	.cf7_custom_style_1 :-ms-input-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:-ms-input-placeholder,
	.contact_form.cf7_custom_style_1 input[type='text']:focus:-ms-input-placeholder,
	.contact_form.cf7_custom_style_1 textarea:-ms-input-placeholder,
	.contact_form.cf7_custom_style_1 textarea:focus:-ms-input-placeholder{
	color: #d2d2d2;opacity:1;	}

	input.wpcf7-form-control~.qode-focus-border{
	height: 2px;	}


